.active-link{
color: rgb(5, 135, 241); 
}
.hider{
    height:70vh ;
}
.button-bg{
    background-color: rgb(0, 154, 216);
}

.image{
    width: 100%;
height: 100%;
}
image img{
      height: 100%;
}
.footer-bg{
       background-color: rgb(38,41, 54);
} 
.secound-bg{
    background-color: rgb(30, 32, 43);
}
.icons i:hover{
    color:rgb(0, 154, 216) ;
}
.w-80{
    width: 80%;
}
.w-30{
    width: 30%;
}
.color-blue{
    color:rgb(0, 154, 216) ;
}
.border{
    border-radius: 2%;
    border: solid 5px white;
    padding: 20px;
}
.w-20{
    width: 20%;
}
body{
    position: relative;
}
.dis-position{
    position: absolute;
    top: 25%;
    z-index: 9;
   left: 50%;
   transform:translate(-50%);
}